:root {
	--color-red: hsl(351 95% 61%);
	--color-mona-lisa: hsl(0 100% 80%);
	--color-light-coral: hsl(7 80% 70%);
	--color-radical-red: hsl(340 100% 60%);
	--color-mountain-meadow: hsl(162 84% 40%);
	--color-cornflower-blue: hsl(229 91% 66%);
}
