:root {
	--color-red: hsl(351 95% 61%);
	--color-mona-lisa: hsl(0 100% 80%);
	--color-light-coral: hsl(7 80% 70%);
	--color-radical-red: hsl(340 100% 60%);
	--color-mountain-meadow: hsl(162 84% 40%);
	--color-cornflower-blue: hsl(229 91% 66%);
	--color-punch: hsl(13 77% 52%);
	--color-cerulean: hsl(200 97% 45%);
	--color-ronchi: hsl(52 84% 45%);
	--color-hopbush: hsl(331 50% 60%);
	--color-flamingo: hsl(9 86% 57%);
	--color-sky-blue: hsl(190 75% 68%);
}
