@use "../node_modules/bootstrap/scss/bootstrap";
@use "_reset";
@use "_variables";
@use "_typography";

@mixin boxShadow {
	box-shadow: 0 .5rem 4rem 0 hsl(0 0% 80% / 0.55);
}

.container-fluid {
	padding: 9rem 14rem;
}

.title-medium {
	font-size: 3rem;
	font-weight: bold;
}

.hero {
	background-color: var(--color-primary);
	font-size: 3rem;
	color: white;
	padding-top: 4rem;
	text-align: center;

	@media (min-width: 1200px) {
		text-align: left;
	}

	&__title {
		margin-bottom: 3rem;
		font-size: 6rem;
		line-height: 1.5em;
		font-weight: bold;
	}

	&__navbar {
		margin-bottom: 10rem;
		font-family: "Ubuntu", sans-serif;
		font-size: 2rem;
	}

	&__btn {
		padding: 1.3rem 2.5rem;
		font-size: 2rem;
		margin: 2rem 2rem 2rem 0;
		border-radius: 0.7rem;

		i {
			margin-right: 0.6rem;
		}
	}

	&__image {
		display: block;
		width: 30rem;
		margin: 0 auto;
	}
}

.navigation {
	&__brand {
		font-size: 4rem;
		font-weight: bold;
	}

	&__menu {
		margin-left: auto;
	}

	&__item {
		margin: 0 2rem;
	}
}

.tech {
	margin: 10rem 2rem;
	text-align: center;
	line-height: 1.4;

	&__col {
		margin: 5rem 2rem;
	}

	&__img {
		font-size: 8rem;
		color: var(--color-primary);

		&--html {
			color: var(--color-punch);
		}

		&--css {
			color: var(--color-cerulean);
		}

		&--js {
			color: var(--color-ronchi);
		}

		&--sass {
			color: var(--color-hopbush);
		}

		&--git {
			color: var(--color-flamingo);
		}
	}

	&__title {
		margin: 2rem 0;
	}
}

.story {
	height: 40rem;
	background-color: var(--color-secondary);
	text-align: center;
	padding: 11rem 23rem;

	&__text {
		font-size: 3rem;
		font-weight: bold;
	}
}

.skills {
	text-align: center;

	&__title {
		font-weight: bold;
		margin: 2rem 0;
	}

	&__subtitle {
		font-size: 2rem;
		margin: 4rem 0;
	}

	&__card {
		border-radius: 2rem;
		margin: 4rem 0;
		transition: all 0.5s;
		padding: 6rem 0;

		&:hover {
			@include boxShadow();
			transform: translateY(-1.5rem);
		}
	}
}

.skills-card {
	&__img {
		width: 8rem;
	}

	&__title {
		margin: 4rem 0 2rem;
	}

	&__skills {
		list-style: none;
		font-size: 1.8rem;
	}

	&__skill {
		line-height: 200%;
	}
}

.footer {
	text-align: center;
	margin-bottom: 4rem;

	&__copr {
		margin-top: 5rem;
		font-size: 2rem;
	}

	&__flag {
		margin: 0 0.4rem;
	}
}

.socials {
	&__icon {
		color: black;
		font-size: 3rem;
		margin: 5rem 4rem;
	}
}
